@model IEnumerable<Faturamento.Models.Distribuidora>

@{
    ViewData["Title"] = "Distribuidora";
}

<h2>@ViewData["Title"] </h2>


<table class="table table-striped table-hover">

    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td> 
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>

        }
    </tbody>


</table>